body {
  font-family:sans-serif;
  background-color: green;
  display:grid;

  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  grid-gap:1em;
  justify-items:center;
}
/*BONUS*/
ol{display:grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  overflow: hidden;
  list-style-type: none;
}

li:nth-child(even){
  margin-left:100px;
}
section:nth-child(2n+2):hover{
  overflow:auto;
}
/*END bonus*/

section{
  width: 450px;
  height:450px;
  overflow:hidden;
}

img{
  object-fit:cover;
  width:450px;
}

h1{
  grid-column: 1/-1;
}

article{
/*  height: 400px;*/
  position:relative;
  font-size: .8em;
  height:450px;
  padding:1em;
}

section:hover article{

  margin-top:-465px;
  cursor: pointer;
  animation:myMove .8s forwards;
  background-color:rgba(255,255,255,0.5);
}

@keyframes myMove{
  10% {margin-top: 0px};
  100% {margin-top: -450px};

}

@media only screen and (max-width: 600px) {
  body {
    background-color: blue;
  }
}
